@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte-destaque: 'Passion One', cursive;
    --fonte-padrao: 'Sriracha', cursive;
    --fonte-link: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgba(238, 238, 238, 0.918);
    font-family: var(--fonte-link); 
}

header {
	background-color: black;
    text-align: center;
}

header > h1{
    color: White;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
    font-size: 10vw;
}

header > p{
    color: White; 
    padding-bottom: 50px;
}

a{
    color: White;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
    color: lightgray;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-padrao);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 12px;
    text-shadow: 1px 1px 0px black;
}

section.normal{
    color: black;
    background-color: white;
}

section.imagem{
    color: White;
    background-color: rgb(65, 65, 65);
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.531);
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
}

section#img01{
    background: black url('../images/background001.jpg') center right  / cover no-repeat fixed;
}

/*background: blue url('images/wallpaper002.jpg') center center / cover no-repeat fixed*/

section#img02{
    background: black url('../images/background002.jpg') center right / cover no-repeat fixed;
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: White;
}

